@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 5em;
}

a {
    text-decoration: none;
    color: white;
}

:root {
    --dark-clr: #2c3639;
    --light-dark-clr: #3f4e4f;
    --white-clr: white;
}

body {
    background-color: black;
    color: var(--white-clr);
}



.hero-section-container {
    background-color: var(--light-dark-clr);
    height: 650px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 3em;

}

#hero {
    background-color: var(--dark-clr);
    width: 75%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display: grid;
    place-content: center;

}

#hero h1 {
    margin-top: -50px;
    font-size: 2.7rem;
}

#hero h3 {
    margin-top: -75px;
    color: rgba(54, 143, 227, 0.702);
}

aside {
    width: 25%;
    display: block;
    text-align: center;
    position: relative;

}

aside h2 {
    margin-top: .5em;
}

aside .personal-image {
    height: 200px;
    width: 200px;
    background: url(https://lh3.googleusercontent.com/Lpb3s0MFSx892oG09-h_5kL0mQ4U9q4m6F88efN8wYqr54wAoKKAuZfMN2WZFiaWgNlfB5Lr-gFRSyhTndNRtK6Q8yb6fyGBNu_m57gjRyUGMdXyvrfwxBuHV33_3jBMpFwVDgQKWwCDxlzlAoXHak6OXJkVsqx-LPYspZtVmofZ0RgeYckCjkw8hVQcHY8VYG2okJvI8Zjvopo4EvqkVImgEQuOnDHRWtduCzfAuJxrAOaodB0qn0iJvWt6lpyn5ivQNx9XlLtPbPvZXikkJgjZGQJZLSUy3m3zbMNSNMg2iDqVFFE9yratBbzJF-KyPndisrGMDM94wGwWuctKwuo0PUt7vYQ6aiDRAFgPNTsFDwsRxlwDKKbimata5FGW2_pJbR6s4ZxZXNFXXwSweUj59hwrWssDcVa_hhLrMnD0Efu8LMPhbQt-24XZyyTmwZjhou86wmcKRPATevw1zRsNk7VHc10Ahcy1K2SPngTKfITa9a8tLm1RZ2qDmkglLLDj2u5KOQwBz-YxQf3II1FXyh-l0VRgo6n1n_pTzN7Guji5Qouz419hy_2_9VkzTL5L471cjepBg1AphNdw9x4QIjiaS4us5JMY2rjmlM0wKyfQvzNIq03s9GvjCqZ01Y_WyDwc8d7A1NOSiAipbV8YN7PQYqmSi6H8Pd0A6iWjSEwI_NjPLVlhTOU1yJBkRxuIHwnjUUvg3Xat3RaXp4tsZxMLpIIcyhSnI5JHFuY6LQHc6PEbOTS65R7zfreWORy6B4zRv2rZigIrM4q6dsjjFMvx2HNRLRF_=w414-h761-no?authuser=1);
    background-position: 50% 80%;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    margin-top: 6em;
}

#copyright {
    position: absolute;
    bottom: 35px;
    left: 55px;
    color: gainsboro;
}

ul#socials {
    display: flex;
    list-style: none;

}

ul#socials li {
    margin-inline: 5px;
    cursor: pointer;
}

.center-ul {
    max-width: fit-content;
    margin: auto;
    margin-top: 1em;
}

nav {
    opacity: 1;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-60%);
    list-style: none;
    z-index: 999;
}

nav .round {
    height: 30px;
    width: 30px;
    margin-bottom: 1em;
    background-color: green;
    border-radius: 50%;


}

.show-info {
    margin-left: 35px;
    padding-top: 3px;
    visibility: hidden;


}

nav .round:hover .show-info {
    visibility: visible;
}


/*about section */


::-webkit-scrollbar {
    background-color: var(--light-dark-clr);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.666);
}

#about {
    opacity: 1;
    background-color: #070d2c;
    margin-top: 7em;
}

#about .show-container {

    height: 600px;
    width: 1200px;
    margin: auto;
    background-color: #070d2c;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
    padding-left: 3em;
}

.about-image {
    height: 100%;
    width: 500px;
    background-position: bottom;
    background: url(https://images.unsplash.com/photo-1492366254240-43affaefc3e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2Zlc2lvbmFsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60 );
}



#about .description {
    max-width: 700px;
}

#about .description h1 {

    text-align: left;
    padding-block: 1.5em;
    padding-top: 4em;
    color: gainsboro;
}

#about .description p {
    text-align: left;
    padding-right: 2em;
    font-size: 18px;

}

#about ul {
    list-style: none;
    display: flex;
    padding-left: 4em;
    padding-top: 5em;
}

#about li img {
    width: 50px;
    margin-inline: 1em;
}


#projects {

    margin-block: 7em;
}

.projects-container {

    width: 1200px;
    height: 700px;
    border-radius: 20px;
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    overflow: hidden;
}


.projects-container .square {
    background-color: rgb(95, 153, 182);
    position: relative;
}

.projects-container span {
    background-color: gray;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(130%);
    opacity: 0;
    transition: .3s;
    cursor: pointer;
    display: grid;
    place-content: center;
}

.projects-container .square:hover span {
    opacity: 1;
    transform: translateY(0);
}

#contact {
    margin-top: 4em;
    margin-bottom: 4em;
    overflow: hidden;
}


.contact-container {
    height: 500px;

    margin: auto;
    background-color: rgba(220, 220, 220, 0.157);
}


#contact input,
#contact button,
textarea {
    min-height: 40px;
    display: block;
    width: 300px;
    max-width: 300px;
    margin-bottom: 10px;
    padding-left: 5px;
    outline-color: rgb(0, 144, 247);

}

#contact button {
    background-color: blueviolet;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}

.form-container {
    max-width: fit-content;
    margin: auto;
    padding-top: 4em;
}

footer {
    padding-top: 1em;
    height: 210px;
    background-color: var(--light-dark-clr);
}

footer p {
    text-align: center;

    font-size: 18px;
    text-decoration: underline;
}

footer p:hover {
    text-decoration: unset;
}

footer .center {
    max-width: fit-content;
    margin: auto;
    color: rgb(204, 204, 204);
}

footer ul {
    display: flex;
    list-style: none;

}

footer li {
    margin-inline: .5em;
    margin-block: 1em;
    color: rgb(224, 224, 224);
    cursor: pointer;
}

footer .copyright {
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 2em;
    padding-bottom: 1em;
    color: rgb(158, 158, 158);
}


#info {
    visibility: hidden;
}

@media(max-width:1100px) {


    .hero-section-container,
    #about,
    #projects,
    #contact,
    footer {
        display: none;
    }

    h1 {
        visibility: show;
        color: white;
        text-align: center;
        max-width: 800px;
        margin: auto;
        margin-top: 40vh;
    }

}